$light-blue: #57a2e4;
$outline-color: rgb(3, 80, 54);
$primary-font: Helvetica;
$title-font: 'Arvo', serif;


%flex {
  display: flex;
  justify-content: center;
}

@mixin flexbox-standard($type) {
  @extend %flex;

  @if($type == 'content') {
    align-content: 'center';

  } @else {
    align-items: center;
  }
}

@mixin flexbox-inverted($type) {
  
  @extend %flex;
  flex-direction: column;

  @if($type == 'content') {
    align-content: center;  
  
  } @else {
    align-items: center;
  }
}

@mixin transform($property) {
  -webkit-transform: $property;
  -ms-transform: $property;
  transform: $property;
}

.App {
  text-align: center;
  display: grid;
  grid-auto-columns: 33vw 33vw 33vh;
  grid-area: 'space content space';
}

.nav-bar {
  color: $light-blue;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 6vh;
  position: fixed;
  width: 100vw;
  background-color: rgba(255,255,255,0.7);
  z-index: 100;
}

.nav-bar:after {
  position: fixed;
  content: '';
  background: linear-gradient(to right, rgba(0,0,0,0.5), $light-blue);
  height: 3px;
  right: 0;
  left: 0;
  top: 6vh;
}

.nav-item {
  @include flexbox-standard('items');
  padding: 0 2vw;
  height: 100%;
  box-sizing: content-box;
  font-family: $primary-font;
  font-size: 16px;
  background-color: #FFF;
  color: $light-blue;
  list-style-type: none;
  text-decoration: none;
}

.nav-item:focus {
  outline-color: $outline-color;
}

.active {
  background-color: $light-blue;
  color: #FFF;
}

.search-bar {
  height: 5.5vh;
  position: fixed;
  top: 0;
  left: 66%;
  width: 33%;
  line-height: 2em;
  font-size: 3vw;
  text-align: center;
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 5px;
}

.search-bar:focus {
  outline-color: $outline-color;
}

header {
  position: absolute;
  top: 5vh;
  width: 100vw;
  display: flex;
  justify-content: center;
}

header h1 {
  font-family: $title-font;
  font-size: 3em;
}

.tile-area {
  grid-area: content;
  @include flexbox-inverted('items');
  margin-top: 18vh;
}

.tile-wrapper {
  @include flexbox-standard('items');
  position: relative;
  height: 500px;
  max-width: 500px;
  margin-bottom: 1rem;
}

.tile-container {
  @include flexbox-inverted('content');
  height: 500px;
  max-width: 500px;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.35);
  @include transform(scale(0.98));
}

.tile-container:hover {
  background-color: rgba(0,0,0,0.1);
  @include transform(scale(1));
  box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
  transition: ease 250ms;
}

.tile-container:focus {
  outline-color: $outline-color;
  background-color: rgba(0,0,0,0.1);
  @include transform(scale(1));
  box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
  transition: ease 250ms;
}

.pic-container {
  width: 500px;
  height: 350px;
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center; 
}

.pic-title {
  font-family: $title-font;
  font-size: 18px;
  line-height: 24px;
  color: #000;
  border-bottom: 1px solid rgba(0,0,0,0.2);
  height: 100px;
  margin: 0;
  @include flexbox-standard('items')
}

.pic-details {
  font-family: $primary-font;
  font-size: 12px;
  color: #999;
  border-bottom: 1px solid rgba(0,0,0,0.2);
  height: 50px;
  margin: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.fav-icon {
  font-size: 3em;
  transition: ease 50ms;
}

.red {
  color: red;
}

.fav-icon:focus {
  outline-color: $outline-color;
}

.error-msg {
  background-color: aquamarine;
  position: relative;
  top: 15vh;
  padding: 1rem;
  border-radius: 5px;
  animation-name: slideInFromTop;
  animation-duration: 2s;
}

@keyframes slideInFromLeft {
  0% { left: -100%; }
  50% { left: -20%; }
  100% { left: 0; }
}

@keyframes slideInFromTop {
  0% { top: -100%; }
  50% { top: 0; }
  100% { top: 15vh; }
}

@media (max-width: 550px) {

  body {
    padding: 0 0.1rem;
  }

  .App {
    display: flex;
  }
}

@media (max-width: 530px) {

  .tile-wrapper {
    display: flex;
    flex-direction: column;
  }

  .pic-container {
    width: auto;
  }

  .nav-bar {
    left: 0;
  }

}